:root {
    /* COLORS */
        /* BACKGROUND COLORS */
        --menu-bkgcolor: rgb(10, 19, 6);
        /* --menu-bkgcolor: rgb(235, 35, 35); */
        /* TEXT COLORS */
        --main-text-color: #4ef8a7;
        /* SHADOW COLORS */
        --shadowcolor: rgb(0, 255, 255);
    /* TEXT EFFECTS */
        --base-textshadow: -1px 1px 1px var(--shadowcolor),
        1px 1px 1px var(--shadowcolor),
        -1px -1px 1px var(--shadowcolor),
        1px -1px 1px var(--shadowcolor);
    /* SIZES  */
        --h1-textsize: 4vw;
    /* SPACING */
        --h1-margintop: 25vh;
    /* BORDERS */

    /* TRANSFORM */

}